@model IEnumerable<WebBanHangDienTu.Models.Data.DanhMucSP>

@if (Model != null && Model.Any())
{
    <ul class="sidebar_categories">
        @foreach (var item in Model)
        {
            if (ViewBag.DanhMucId == item.Id)
            {
                <li class="active"><a href="/danh-muc-san-pham/@item.BiDanh-@item.Id"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.TenDanhMuc</a></li>

            }
            else
            {
                <li><a href="/danh-muc-san-pham/@item.BiDanh-@item.Id">@item.TenDanhMuc</a></li>

            }
        }
    </ul>

}


