<div class="card" style="height:400px;">
    <div class="card-header">
        <form>
            <div class="card-title row" style="width:350px;">
                <div class="col-4">
                    <i class="fas fa-chart-pie mr-1"></i>
                    <label>Doanh thu   </label>

                </div>
                <div class="col-4">
                    <select class="form-control" name="type" id="type">
                        <option value="Ngay" selected>Tuần</option>
                        <option value="Thang">Tháng</option>
                        <option value="Nam">Năm</option>
                    </select>
                </div>
                <div class="col-6" id="Date">
                    <input type="date" class="form-control" name="fromDate" id="fromDate" value="" />
                    <input type="date" class="form-control" name="fromTo" id="fromTo" value="" />
                </div>


            </div>
            <div class="col-2">
                <input type="submit" class="form-control" value="Submit" id="Submit" />
            </div>
        </form>
       

        <div class="card-tools">
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#revenue-chart" data-toggle="tab">bar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sales-chart" data-toggle="tab">pie</a>
                </li>
            </ul>
        </div>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content p-0">
            <!-- Morris chart - Sales -->
            
            <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;">
                <canvas id="bar" height="300" style="max-height: 300px;"></canvas>
            </div>
            <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
                <canvas id="pie" height="300" style="max-height: 300px;"></canvas>
            </div>
        </div>
    </div><!-- /.card-body -->
</div>


